<% layout("layouts/boilerplate.ejs") %>
<div class="row">
    <h2 class="col-6 offset-2 mt-4">SignUp for WanderLust</h2>
    <div class="col-8 offset-2 mt-3">
        <form method="post" action="/signup" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button class="btn btn-success offset-6">SignUp</button>
        </form>
    </div>
</div>